body {
    background-color: #72706f;
}
h1 {
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Trebuchet MS';
    background-color: #3d3c3b;
    color: #ec57bf;
    padding: 10px;
}
a {
    background-color: #3d3c3b;
    color: #ec57bf;
    font-family: 'Trebuchet MS' ;
    border-style: solid black;
    padding: 10px;
    display:inline-block;
    margin-bottom: 50px;
}

ul {
    font-size: 30px;
}
img {
    text-align: center;
    float: right;
    padding: 10px;
    border: 2px solid #ec57bf;
    background-color: #3d3c3b;
}
h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}
p {
    font-size: 20px;
}
.ing {
    color: #ec57bf;
}
ol{
    border:2px solid #ec57bf;
    background-color: #3d3c3b;
    padding: 5px;
    font-size: 30px;
    color: whitesmoke;
}

.links {
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}